[submodule "extern/MultiMarkdown-6"]
	path = extern/MultiMarkdown-6
  url = ssh://github/hasanalrasyid/MultiMarkdown-6
  branch = hasan
[submodule "extern/active"]
	path = extern/active
	url = ssh://github/hasanalrasyid/active
	branch = hasan
